# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify common libraries used in Data Science
- Understand basic data operations with Python
- Explore key tools and environments for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. MATLAB
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. scikit-learn
5. matplotlib
6. seaborn

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hanna Hrekova